[Unit]
Description=Telegram example bot
ConditionPathExists=/gopath/bin/tzconverter
After=network.target

[Service]
Type=simple
User=youruser
Group=youruser
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/gopath/bin/
ExecStart=/gopath/bin/tzconverter --config=tzconverter --log-level=INFO

[Install]
WantedBy=multi-user.target
